body{
    background: purple;
    font-size: 200%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
}

canvas{
    background-color: black;
    position:absolute;
    top:0;
    left:0;
}

.debug{
    user-select: none;
    color:white;
    position: absolute;
    z-index:2;
    left: 20px;
}

body .hidden{
    display: none;
}

.main-menu{
    background: tan;
    border:1px solid black;
    border-radius: 5px;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0 0 20px black;
    max-width: 600px;
    height:600px;
    padding: 20px;
}
.main-menu p{
    margin:10px;
}

.main-menu img{
    height:100px;
    width:100px;
}
.main-menu button{
    background:limegreen;
    color:white;
    transition: all 0.25s;
    filter: grayscale(0.7) brightness(0.9);
    padding:8px 12px;
    border-radius: 8px;
}
.main-menu button:hover{
    filter: none;
}
.main-menu button:active{
    filter:blur(.5px);
}